@font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter-Regular.ttf)
}

*{
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
    
}

h1 {
    text-align: center;
    font-family: "Inter";
}



#h2-1 {
    margin-top: 124px;
}



#h2-2 {
    margin-top: 60px;
}


#h2-3{
    margin-top: 131px;
}


#h2-4 {
    margin-top: 152px;
}
div {
    margin-left: 39px;
}

article{
    margin-top: 12px;
}
